{% extends "base.html" %}

{% block content %}
  <h1>{{ cook.first_name }} {{ cook.last_name }}</h1>
  {% if user.id == cook.id %}
    <a href="{% url 'kitchen:cook-update' pk=cook.id %}" class="btn btn-outline-primary">Update</a>
    <a href="{% url 'kitchen:cook-delete' pk=cook.id %}" class="btn btn-outline-danger">Delete</a>
  {% endif %}
  <p>
    <strong>
      {% if cook.years_of_experience %} Years of experience: {{ cook.years_of_experience }} {% endif %}
    </strong>
  </p>

  <div class="ml3">
    <h3>Dishes that are currently being cooked</h3>

    {% for dish in cook.dishes.all %}
      <hr>
      <h4><a href="{% url 'kitchen:dish-detail' pk=dish.id %}">{{ dish.name }}</a></h4>
      <p>
         price: {{ dish.price }}
      <p>{{ dish.description }}</p>
      <a href="{% url 'kitchen:dish-take-ingredient' pk=dish.id %}" class="btn btn-info">add ingredients</a>
      {% if dish.ingredients.all %}
        {% for ingredient in dish.ingredients.all %}
          <li>{{ ingredient }}</li>
        {% endfor %}
        {% else %}
        <p>No ingredients</p>
      {% endif %}
    {% empty %}
      <p>Doesn't cook anything</p>
    {% endfor %}
  </div>
  <br>
  <p>
  <a href="{% url 'kitchen:cook-list' %}">
    <button type="button" class="btn btn-outline-dark">back</button>
  </a>
</p>
{% endblock %}

