{% extends "base.html" %}

{% block content %}

  <h1>Cooks list</h1>
  {% if cook_list %}
    <ul>
      {% for cook in cook_list %}
        <li>
          {{ cook.first_name }} {{ cook.last_name }}
          {% if cook.years_of_experience %}
            experience: {{ cook.years_of_experience }} year{{ cook.years_of_experience|pluralize }}
          {% endif %} {% if user.id == cook.id %}<strong>(Me)</strong>{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cooks</p>
  {% endif %}

{% endblock %}
