{% extends "base.html" %}

{% block content %}
  <h1>{{ dishtype.name }}</h1>
   <p>
    <a href="{% url 'kitchen:dish-type-update' pk=dishtype.id %}" class="btn btn-primary">Update</a>
    <a href="{% url 'kitchen:dish-type-delete' pk=dishtype.id %}" class="btn btn-danger">Delete</a>
  </p>
  <p><strong>Product range: {{ dishes_count }}</strong></p>

  <div class="ml3">
    <h3>Dishes</h3>

    {% for dish in dishtype.dishes.all %}
      <hr>
      <p class="text-muted"><strong>Id:</strong> {{ dish.id }} </p>
      <p>
        name: {{ dish.name }} price: {{ dish.price }}
      <p>{{ dish.description }}</p>
    {% empty %}
      <p>No dishes</p>
    {% endfor %}
  <a href="{% url 'kitchen:dish-type-list' %}" class="btn btn-info">back</a>
  </div>
{% endblock %}
