{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

  <h1>Dish types</h1>
  <form action="" method="get" class="form-check-inline">
    {% csrf_token %}
    {{ search_form|crispy }}
    <input class="btn-outline-info" type="submit" value="🔍">
  </form>
  {% if dishtype_list %}
    <ul>
      {% for dishtype in dishtype_list %}
        <li>
          <a href="{% url "kitchen:dishtype-detail" pk=dishtype.id %}">{{ dishtype.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no dish types in kitchen yet</p>
  {% endif %}
  <p>
    <a href="{% url 'kitchen:dish-type-create' %}">
      <button type="button" class="btn btn-outline-dark">Add new dish type</button>
    </a>
  </p>

{% endblock %}
