{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

  <h1>Dishes list</h1>
  <form action="" method="get" class="form-check-inline">
    {% csrf_token %}
    {{ search_form|crispy }}
    <input class="btn-outline-info" type="submit" value="🔍">
  </form>
  {% if dish_list %}
    <ul>
      {% for dish in dish_list %}
        <li>
          <a href="{% url 'kitchen:dish-detail' pk=dish.id %}">{{ dish }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no dishes of this dish type</p>
  {% endif %}
  <p>
    <a href="{% url 'kitchen:dish-create' %}">
      <button type="button" class="btn btn-outline-dark">Add new dish</button>
    </a>
  </p>

{% endblock %}
